.root{
    -fx-font-size: 15px;
}

/*Download copy tab*/
.backupTab{
    -fx-border-style: none;
    -fx-spacing: 10px;
    -fx-padding: 30px;
}

.backupNameInputArea {
    -fx-margin: 30px ;
    -fx-padding: 10px;
}

/*Refresh copy tab*/

.deviceArea{
    -fx-margin: 30px ;
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-alignment: center;
}



.restoreTab{
    -fx-border-style: none;
    -fx-spacing: 10px;
    -fx-margin: 30px ;
    -fx-padding: 10px;
}

.restoreActionColumn{
    -fx-alignment: center;
}
